.city-main {
  padding: 10px 20px;
  overflow-wrap: break-word;
}

#description::first-letter {
  text-transform: capitalize;
}

.CurrentTemperature .unit {
  font-weight: bold;
  text-decoration: none;
}
